<h3>Conta de <%= @profile.account.name %></h3>
<table class="col-sm-10 mb-2">
    <th><%= @profile.first_name %> <%= @profile.last_name %></th>
    <tr>
        <td class="attribute">Documento:</td>
        <td><%= @profile.document %></td>
    </tr>

    <tr>
        <td class="attribute">Endereço:</td>
        <td><%= @profile.address %></td>
    </tr> 

    <tr>
        <td class="attribute">Data de Nascimento:</td>
        <td><%= l @profile.date_of_birth %></td>
    </tr> 

    <tr>
        <td class="attribute">Contato:</td>
        <td><%= @profile.contact %></td>
    </tr> 

    <tr>
        <td class="attribute">Sexo:</td>
        <td><%= @profile.gender %></td>
    </tr>

    <tr>
        <td class="attribute">Apelido:</td>
        <td><%= @profile.nickname %></td>
    </tr>

    <tr>
        <td class="attribute">Método de pagamento:</td>
        <td><%= @profile.payment_method %></td>
    </tr>
</table>

<div class="text-center">
    <%= link_to 'Editar Cadastro', edit_profile_path, class: "btn btn-sm btn-black"%> <%= link_to 'Voltar', root_path, class: "btn btn-sm btn-yellow" %>
</div>
