<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <%= f.label :document %><br />
    <%= f.text_field :document, autocomplete: t(:document) %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: t(:email) %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: t(:new_password) %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: t(:new_password) %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.select(:type, options_for_select([[t(:customer), 'Customer'], [t(:personal), 'Personal']])) %>
  </div>

  <div class="actions">
    <%= f.submit t(:submit_btn) %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
