<h2> Agendas </h2>
<% if @schedules.any? %>
  <% @schedules.each do |schedule| %>
    <table class="col-sm-6 float-left mb-2">
    <th><%= schedule.unit.name%></th>
      <tr>
        <td class="attribute">Data:</td>
        <td><%=  schedule.date %></td>
      </tr>
      <tr>
        <td class="attribute">Horário de início:</td>
        <td><%= schedule.start %>h</td>
      </tr>
      <tr>
        <td class="attribute">Horário de término:</td>
        <td><%= schedule.finish %>h</td>
      </tr>
      <tr>
        <td class="attribute">Valor/hora:</td>
        <td><%= t('hour_price', price: schedule.price) %></td>
      </tr>
    </table>
  <% end %>
<% else %>
  <div>
    <%= flash[:failure] %>
  </div>
<% end %>
