 <% @gyms.each do |gym|%>
  <div class=<%= "academia-#{gym.id}"%>>
    <% if current_account && current_account.type == "Customer"%> 
    <h2><%= link_to gym.name, unit_path(gym) %></h2>
  <% else %>
    <h2><%= gym.name %></h2>
  <% end %>
    <p><strong>Endereço: </strong> <%= gym.address %></p>
    <p><strong>Funcionamento: </strong> de <%= "#{gym.working_days}, das #{gym.open_hour} às #{gym.close_hour}" %></p>
  <% if current_account && current_account.enrollment == gym.id %>
    <p class='btn btn-black btn-sm'> Está é a sua Unidade </p>
  <% elsif current_account && !(current_account.enrollment == nil) %> 
    <%= link_to 'Mudar para esta unidade', add_unit_customer_path(gym.id), method: :post, class: "btn btn-black btn-sm" %>
  <% elsif current_account %>
    <%= link_to 'Cadastrar Nesta Unidade', add_unit_customer_path(gym.id), method: :post, class: "btn btn-black btn-sm" %>
  <% end %>
  </div>
  <br>
<% end %>
