  <% @units.each do |gym|%>
  <div class=<%= "academia-#{gym[:id]}"%>>
    <h3><%= gym.name %></h3>
    <p><strong>Endereço: </strong> <%= gym.address %></p>
    <p><strong>Funcionamento: </strong> de <%= "#{gym.working_days}, das #{gym.open_hour} às #{gym.close_hour}" %></p>
    <%= link_to 'Cadastrar Nesta Unidade', add_unit_customer_path(gym), method: :post, class: "btn btn-black btn-sm" %>
  </div>
  <br>
  <% end %>
