<%= form_for @personal do |f| %>
  <div class="row">
    <div class="col form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="col form-group">
      <%= f.label :last_name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <%= f.label :document %>
      <%= f.text_field :document %>
    </div>

    <div class="col form-group">
      <%= f.label :user, 'Usuário/Nickname' %>
      <%= f.text_field :user %>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="col form-group">   
      <%= f.label :contact %>
      <%= f.text_field :contact %>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <%= f.label :email%>
      <%= f.text_field :email %>
    </div>

    <div class="col form-group">
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>
  </div>

  <div class="form-group text-center">
    <%= f.submit t(:submit_btn) %>
  </div>
<% end %>
