<%= form_for @personal do |f| %>
  <div class="row">
    <div class="col form-group">
      <%= f.label :first_name, 'Nome' %>
      <%= f.text_field :first_name %>
    </div>

    <div class="col form-group">
      <%= f.label :last_name, 'Sobrenome' %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <%= f.label :document, 'Documento' %>
      <%= f.text_field :document %>
    </div>

    <div class="col form-group">
      <%= f.label :user, 'Usuário/Nickname' %>
      <%= f.text_field :user %>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <%= f.label :address, 'Endereço' %>
      <%= f.text_field :address %>
    </div>

    <div class="col form-group">   
      <%= f.label :contact, 'Contato' %>
      <%= f.text_field :contact %>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <%= f.label :email, 'E-mail' %>
      <%= f.text_field :email %>
    </div>

    <div class="col form-group">
      <%= f.label :password, 'Senha' %>
      <%= f.text_field :password %>
    </div>
  </div>

  <div class="form-group text-center">
    <%= f.submit 'Enviar' %>
  </div>
<% end %>