<h2> Agendas disponíveis na unidade <%= @unit.name %> </h2>
<% @unit.schedules.each do |schedule|%>
  <table class="col-sm-6 float-left mb-2">
    <th>
      <%= schedule.personal.profile.first_name %>
    </th>
    <tr>
      <td class="attribute">Data:</td>
      <td><%= schedule.date %></td>
    </tr>
    <tr>
      <td class="attribute">Horário de Atendimento:</td>
      <td><%= schedule.start %> às <%= schedule.finish %></td>
    </tr>
    <tr>
      <td class="attribute">Valor:</td>
      <td><%= schedule.price %></td>
    </tr>
  </table>
<% end %>