<h1>Agenda de <%= @schedule.personal.profile.first_name %> para <%= l @schedule.date %> </h1>
<ul>
<% @schedule.appointments.each do |appm| %>
  <% if appm.has_owner? %>
    <li>Aula Indisponivel - Horário das <%= appm.start_hour %> às <%= appm.end_hour %> - Preço <%= @schedule.price %> </li>
  <% else %>
    <li><%= link_to 'Escolher essa aula', enroll_appointment_path(appm_id: appm.id, schedule_id: @schedule.id), method: :post %> - Horário das <%= appm.start_hour %> às <%= appm.end_hour %> - Preço <%= @schedule.price %> </li>
  <% end %>
<% end %>
</ul>
