<!DOCTYPE html>
<html>
  <head>
    <title>EspertoFitPersonal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if account_signed_in? %>
        <p>Olá, <%= current_account.email %>.</p>
        <h2> Olá <%= current_account.name %></h2>
        <%= link_to 'Sair', destroy_account_session_path, method: :delete %>
      <% end %>
    </header>

    <%= flash[:alert]%>
    <%= flash[:notice]%>
    <%= yield %>
  </body>
</html>
