<!DOCTYPE html>
<html>
  <head>
    <title>EspertoFitPersonal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_account %>
        <h2> Olá <%= current_account.name %></h2>
      <% end %>
    </header>

    <nav>
      <% if account_signed_in? %>
        <% if current_account.type == 'Personal' %>
          <%= link_to 'Cadastrar agenda', new_schedule_path %>
        <% end %>
      <% else %>
        <%= link_to 'Novo Usuario', new_account_registration_path %>      
        <%= link_to 'Entrar', new_account_session_path %>
      <% end %>
    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
