<!DOCTYPE html>
<html>
  <head>
    <title>EspertoFitPersonal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if account_signed_in? %>
      <p>Olá, <%= current_account.email %>.</p>
      <%= link_to 'Sair', destroy_account_session_path, method: :delete %>
    <% end %>
    
    <%= flash[:alert]%>
    <%= flash[:notice]%>
    <%= yield %>
  </body>
</html>
