<h3>Conta de: <%= @profile.first_name.capitalize %></h3>

 <p>Nome: <%= @profile.first_name %></p>
 <p>Sobrenome: <%= @profile.last_name %></p>
 <p>Documento: <%= @profile.document %></p>
 <p>Endereço: <%= @profile.address %></p> 
 <p>Data de nascimento: <%= @profile.date_of_birth %></p> 
 <p>Contato: <%= @profile.contact %></p> 
 <p>Sexo: <%= @profile.gender %></p>
 <p>Apelido: <%= @profile.nickname %></p>
 <p>Metodo de pagamento: <%= @profile.payment_method %></p>
 
 <%= link_to 'Editar cadastro', edit_profile_path %>

