<h3>Conta de: <%= @profile.first_name.capitalize %></h3>

 <p> <%= "#{t(:first_name)}: #{@profile.first_name}" %></p>
 <p> <%= "#{t(:last_name)}: #{@profile.last_name}" %></p>
 <p> <%= "#{t(:address)}: #{@profile.address}" %></p>
 <p> <%= "#{t(:date_of_birth)}:#{@profile.date_of_birth}" %></p>
 <p> <%= "#{t(:contact)}: #{@profile.contact}" %></p>
 <p> <%= "#{t(:gender)}: #{@profile.gender}" %></p>
 <p> <%= "#{t(:nickname)}: #{@profile.nickname}" %></p>
 <p> <%= "#{t(:payment_method)}: #{@profile.payment_method}" %></p>

 <%= link_to t(:profile_edit), edit_profile_path %>
